@import 'base.scss';

//base style
/*----------------*/
//sass style
$font:14px;
$font_16:16px;
$font_12:12px;
$web-color:#333333;
$gray:#F9F9F9;
$fontstyle:"微软雅黑";
$arror_url:url('../images/jiantou_03.png');
body{
    font-size: $font;
    color:$web-color;
    font-family: $fontstyle;
    overflow-x: hidden;
    background:#f3f3f3;
}

#banner_top{
    width:1400px;
    margin:0 auto;
    overflow: hidden;
    position:relative;
    .banner_content{
       width: 1420px;
       margin: 0 auto;
       position:relative;
       height: 400px;
       margin-left: -200px;

        ul{
            position:absolute;
            li{
                float: left;

            }
        }
        .operate{
            position:absolute;
            right:0px;
            bottom:0;
            width: 220px;
            height: 400px;
            background: rgba(0,0,0,0.5);
            padding: 10px;

            .content_t{
                background: #fff;
                height: 200px;
                border: 1px solid #DDDDDD;
                position:relative;
                padding:47px 15px;
                h4{
                    color: #fff;
                    background: url('../images/gongao_bg.png')no-repeat;
                    width: 76px;
                    height: 30px;
                    text-align: center;
                    position:absolute;
                    top:-6px;
                }
                p{
                    font-size: $font_12;
                }
            }
        }

    }
    .dot{
        position:absolute;
        border-radius:15px;
        box-sizing: content-box;
        padding:8px 20px;
        bottom:21px;
        left:500px;
        background-color: rgba(0,0,0,0.5);
        span{
            width:10px;
            height:10px;
            border-radius:50%;
            background-color: #fff; 
            display: block;
            float: left;
            margin:0 5px;

        }
        .active{
                background-color: #FE5722;
            }
    }
    
}
#container{
    background: #F3F3F3;
    #banner_b{
        margin:20px 0;
        ul{
            li{
                width: 280px;
                height: 180px;
                background: #ccc;
                float: left;
                margin-right: 20px;
                &:nth-last-child(1){
                    margin-right: 0px;
                }
            }

        }
    }
    #rush {
        height: 365px;
        background:#f3f3f3;
        .title{
            h4{
                border-left:6px solid #FE5722;
                color: #333;
                font-size: 18px;
                padding-left:10px;
            }
            p{
                color: #686868;
                padding-right: 26px;
                background: url('../images/cout_bg_06.jpg') no-repeat;
                background-position: 35px 10px;

            }
        }
        .rush_l{
            padding: 17px 20px;
            width: 940px;
            height: 365px;
            background: #fff;
            ul{
                margin-top: 10px;
                li{
                    width: 220px;
                    text-align: center;
                    float: left;
                    p{
                        width:200px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    span{
                        &:nth-of-type(1){
                            font-size:14px;
                            color: #ff5722;
                        }
                        &:nth-of-type(2){
                            font-size: 10px;
                            color: #B5B5B5;
                            text-decoration:line-through;
                        }
                    }
                    .time{
                        padding-left: 20px;
                        margin-top: 14px;
                        p{
                            background: url('../images/cout_bg_11.jpg')no-repeat;
                        }
                    }
                }
            }
        }
        .rush_r{
            width: 220px;
            height: 365px;
            margin-left: 20px;
            background: #fff;
            text-align: center;
            img{

            }
            p{
                width:200px;
                overflow: hidden;
                white-space:line;
            }
                span{
                    &:nth-of-type(1){
                        font-size: 18px;
                        color: #ff5722;
                        font-weight: bold;
                    }
                    &:nth-of-type(2){
                        font-size: 12px;
                        color: #B5B5B5;
                    }
                }
            .btn{
                 width: 180px;
                 height: 50px;
                 color: #fff;
                 background-color: #ff5722;
                 line-height: 50px;
                 text-align: center; 
                 margin: 0 auto;
            }
        }
    }
    #nowshop{
        background: #fff;
        margin-top: 20px;
        margin-bottom: 36px;
        h3{
            font-size: 18px;
            width: 200px;
            text-align: center;
            color: #FF7B22;
            display: block;
            border-top: 1px solid #FF7B22;
            line-height: 50px;
        }
        ul{
            margin-top: 10px;
            li{
                width: 220px;
                float: left;
                margin-left: 16px;
                p{
                    width:200px;
                    height:40px;
                    overflow: hidden;
                    a{
                        color: #333;
                    }
                }
                span{
                    line-height: 40px;
                    
                    &:nth-of-type(1){
                        font-size:18px;
                        color: #ff5722;
                    }
                    &:nth-of-type(2){
                        font-size: 10px;
                        color: #B5B5B5;
                        text-decoration:line-through;
                    }
                    
                }
                .time{
                    padding-left: 20px;
                    margin-top: 14px;
                    p{
                        background: url('../images/cout_bg_11.jpg')no-repeat;

                    }
                }
            }
        }
    } 
    #datalist{
        h3{
            width: 220px;
            font-size: 18px;
            padding-bottom: 20px;
            span{
                padding-left: 20px;
            }
        }
        &>ul{
            width: 720px;
            &>li{
                width:220px;
                height: 290px;
                padding: 20px;
                background: #fff;
                text-align: center;
                margin-left: 20px;
                float: left;
                &:nth-child(4),&:nth-child(5),&:nth-child(6){
                    margin-top: 20px;
                }
                p{
                    width:200px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    line-height: 40px;
                    a{
                        color: #333;
                    }
                }
                span{
                    line-height: 40px;
                    
                    &:nth-of-type(1){
                        font-size:16px;
                        color: #ff5722;
                    }
                    &:nth-of-type(2){
                        font-size: 10px;
                        color: #B5B5B5;
                        text-decoration:line-through;
                    }
                    
                }
            }
        }
    .datalist_r{
            width: 220px;
            height: 600px;
            background: #fff;
            h4{
                color: #FF5252;
                font-size: 18px;
                line-height: 40px;
                padding-left: 20px;
            }
            ul{
                li{
                    height: 101px;
                    padding-top: 20px;
                    padding-bottom: 25px;
                    padding-left: 20px;

                    border-bottom: 1px solid #F9F9F9;
                    &:nth-child(4),&:nth-child(5),&:nth-child(6){
                        em{
                            background: #DDDDDD;
                            
                        }
                        height:81px;
                        img{
                            display: none;
                        }
                        .data_p{
                            height:20px;
                           p{
                            width: 132px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            height: 20px;
                           }
                        }
                        span{
                            
                        }
                    }

                    em{
                        width: 18px;
                        height: 18px;
                        display: inline-block;
                        background: #FF5252;
                        color: #fff;
                        text-align: center;
                    }
                    img{
                        border: 1px solid #ccc;
                        margin: 0 10px;
                        padding-left: 1px;
                    }
                    .data_p{
                        display: inline-block;
                        p{
                            width: 80px;
                            height: 43px;
                            line-height: 20px;
                            overflow:hidden;
                            padding-left: 10px;
                            a{
                                color: #333;
                            }
                        }
                        vertical-align:middle;
                    }
                }
            }
        }
    .brand{
            float: left;
            margin: 20px 0;
        }

    }  
    

}






