@import 'login.scss';

header {
    p{
        float: right;
        margin-top: 45px;
        font-size: 16px;
        span{
            a{
                color: #FD5723;
            }
        }

    }
    border-bottom: 1px solid #FD5723;
}
