@import 'login.scss';

header {
    p{
        float: right;
        margin-top: 45px;
        font-size: 16px;
        span{
            a{
                color: #FD5723;
            }
        }

    }
    border-bottom: 1px solid #FD5723;
}
.Register{
    width: 882px;
    height: 603px;
    background: #fff;
    box-shadow: -1px 1px 60px #e5d4d4;
    margin: 40px auto;
    .form-cont{
        width: 650px;
        padding: 50px 0;
        margin: 0 auto;
        .form-goup{
            margin-bottom: 15px;
            &:nth-last-of-type(1){
                padding-left: 100px;
            }
            label{
                padding-right: 20px;
                text-align: right;
                width: 100px;
                display: inline-block;
                padding-top: 10px;
                font-size: 16px;
                color: #A4A4A4;

                &#gender{
                    padding-top: 0;
                }
            }
            input{
                font-size: 16px;
                color: #a0a0a0;   

            }
            input#emali,input#password,input#password_t,input#birthday,input#code,input#name{
                width: 282px;
                height: 42px;
                border: 1px solid #CCC;
                &.active{
                    border: 1px solid #FD5723;
                    
                }
            }  
            input#code{
                width: 162px;
            }
            .nomal{
                color: #ccc;
                height: 20px;
                line-height: 20px;
                padding-top: 10px;
                display: none;
            }
            .error{
                
                height: 20px;
                line-height: 20px;
                padding-top: 10px;
                color: #fe5722;
                i{
                    padding-right: 5px;
                }
            }
            .ture{
                height: 20px;
                line-height: 20px;
                padding-top: 10px;
                color: #268bf3;
            }
            
        }
        button#submit{
                width: 300px;
                height: 40px;
                background-color: #FE5722;
                color: #fff;
                font-size: 18px;
                margin-left: 80px;  
                cursor:pointer;              
        }
    }
        
    
    
}